* {
  font-family: "Lato", sans-serif;
}


[nz-carousel-content] {
  text-align: center;
  min-height: 370px;
  margin-bottom: 60px;
  overflow: hidden;
}

img {
  object-fit: cover;

}

.topbar-not-square {
  color: white;
  position: relative;
}

.topbar-square {
  padding: 1.7em;
}



button {
  margin-top: 20em;
  height: 5em;
  width: 3em;
  background-color: black;
}

.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.bottom-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.text {
  background-color: rgba(15, 14, 14, 0.3);
  border-radius: 15px;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 85%;
  /* Adjust this value to move the positioned div up and down */
  width: 10%;
  /* Set the width of the positioned div */
}
