* {
  font-family: "Lato", sans-serif;
}

[nz-carousel-content] {
  text-align: center;
  min-height: 415px;
  overflow: hidden;
}

img {
  // height: 100%;
  object-fit: cover;
}


button {
  width: 3em;
  border: none;
  background: none;
}

.black {
  color: black;
  font-size: 3em;
  font-weight: bold;

}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}


@media only screen and (max-width: 1065px),
only screen and (max-device-width: 767px) {
  button {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  [nz-carousel-content] {
    text-align: center;
    min-height: 95px;
    // margin-bottom: 20px;
    overflow: hidden;
  }
}


.topbar-square {
  padding: 1.7em;
  background-color: #475;
}

.text-align {
  text-align: justify;
  text-justify: inter-word;
}

.spacing {
  margin-top: 1em;
}


@media only screen and (max-width: 600px) {
  .spacing{
    margin-top: -2em;
  }

}