<nz-carousel [nzEffect]="effect"  [nzDots]="false" [nzEnableSwipe]="false" [nzAutoPlaySpeed]="4000" nzAutoPlay>
  <div class="imgbox" nz-carousel-content *ngFor="let item of currentProjectImages$ | async">
    <img class="center-fit mt-2 img-thumbnail " nz-image nzSrc="../../../assets/{{project$.value.project}}//{{item.name}}"
      alt="item.name" />

    <p  class="font-weight-bold topbar">{{item.description}}</p>

  </div>
</nz-carousel>
<button class="carousel-control-prev " (click)="pre()" type="button" data-bs-target="#carouselExampleCaptions"
  data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden"></span>
</button>
<button (click)="next()" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
  data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden"></span>
</button>
<div class="mt-5">
  <h4 class="text-center mt-3  font-weight-bold"> {{project$.value.project }}
  </h4>
  <br>
  <section class="container">
    <p *ngIf="project$.value!= null" class="ml-5 mr-5 pb-5">
      {{project$.value.description}}
    </p>
  </section>




</div>
<!-- <div class="text text-white">
        <p class="font-weight-bold">{{item.description}}</p>
      </div> -->
