<nz-carousel [nzEffect]="effect" nzAutoPlay>
  <div class="imgbox" nz-carousel-content *ngFor="let item of currentProjectImages$ | async">
    <img class="center-fit mt-1 img-thumbnail" nz-image
      nzSrc="../../../assets/{{project$.value.project}}//{{item.name}}" alt="item.name" />
    <div class="text text-white">
      <p class="font-weight-bold">{{item.description}}</p>
    </div>

  </div>
</nz-carousel>
<div>
  <h4 class="text-center mt-3  font-weight-bold"> {{project$.value.project }}
  </h4>
  <br>
  <section class="container">
    <p *ngIf="project$.value!= null" class="ml-5 mr-5 pb-5">
      {{project$.value.description}}
    </p>
  </section>

</div>
