* {
  font-family: "Lato", sans-serif;
}

[nz-carousel-content] {
  text-align: center;
  min-height: 353px;
  margin-bottom: 60px;
  overflow: hidden;
}

img {
  object-fit: cover;
}


button {

  margin-top: 7em;
  height: 5em;
  width: 3em;
  padding: 0;
  border: none;
  background: none;
}

.black {
  color: black;
  font-size: 3em;
  font-weight: bold;

}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}


@media only screen and (max-width: 1065px),
only screen and (max-device-width: 767px) {
  button{
    display: none;
  }
}



.topbar-square {
  padding: 1.7em;
  background-color: #475;
}