.white-text {
  color: white !important;
}

.site-color {
  color: #2B7BAE;
}

.site-color-orange {
  color: #FB980B;
}

nz-collapse-panel {
  margin: 2em;

}

.form-bg {
  background-color: rgb(236, 245, 248);
}
