<nz-layout>
  <h1 class="text-center mt-2 font-weight-bold">NEWS</h1>
  <section class="container text-center mt-5">
    <a class="a-style " href="">
      UPCOMING EXHIBITION</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/HOMEPAGE.jpg" alt="" />
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">

  </section>
  <section class="container text-center mt-5">
    <a class="a-style " href="https://www.avs.be/artikels/vliegend-tapijt-gaat-op-tournee-door-gent-a80290">FLYING
      CARPET PROJECT</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/flying carpet.jpeg" alt="" />
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
  </section>

  <section class="container text-center mt-5">
    <a class="a-style " href="https://joannadevos.be/exhibition/the-clown-spirit/">
      GROUP EXHIBITION “CLOWN SPIRIT” by JOANNA DE VOS</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/clown spirit.jpeg" alt="" />
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
  </section>


  <section class="container text-center mt-5">
    <a class="a-style "
      href="https://www.mo.be/interview/iraanse-activiste-homa-arkani-ik-wil-erkend-worden-als-een-internationale-artieste">
      THE EXHIBITION AT THE EUROPEAN PARLIAMENT</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/artbruxelles.png" alt="" />
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
  </section>

  <section class="container text-center mt-5">
    <a class="a-style "
      href="https://www.mo.be/interview/iraanse-activiste-homa-arkani-ik-wil-erkend-worden-als-een-internationale-artieste">
      IRANIAN ACTIVIST “HOMA ARKANI” AS AN INTERNATIONAL ARTIST</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/mo.be.png" alt="" />
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
  </section>
  <section class="container text-center mt-5">
    <a class="a-style " href="https://www.nucleo.be/artist/index/nl/368">
      HOMA ARKANI, NUCLEO</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/" alt="" />
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
  </section>

  <section class="container text-center mt-5">
    <a class="a-style " href="https://www.youtube.com/watch?v=FBDxv_qJTrw">
      GROUP EXHIBITION AT MACVAC MUSEUM IN SPAIN</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/FLYINGGROUP.PNG" alt="" />
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
  </section>


  <section class="container text-center mt-5">
    <a class="a-style " href="https://www.poeziecentrum.be/evenement/tangible-thoughts-expo-literair-labo">
      TANGIBLE THOUGHTS: EXPO & LITRETURE</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/tangible_thoughts.jpg" alt="" />
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
  </section>


  <section class="container text-center mt-5">
    <a class="a-style" href="https://www.youtube.com/watch?v=EdMHxis3Gpg&t=3s">
      HOMA ARKANI’s TEHRAN IN ALL ITS SATIRE</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/terhran in all its strire.png"
        alt="" />
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
  </section>

  <section class="container text-center mt-5">
    <a class="a-style"
      href="https://www.tehrantimes.com/news/402982/Paintings-inspired-by-Persian-carpets-on-show-at-Tehran-gallery">
      PAINTINGS INSPIRED BY PERSIAN CARPETS ON SHOW AT TEHRAN GALLERY</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/tehrantimes.png" alt="" />
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
  </section>

  <section class="container text-center mt-5 mb-5">
    <a class="a-style" href="http://www.premiocombat.it/2014/no-63902">
      PREMIO COMBAT 2014 PRIZE</a>
    <div>
      <img class="mt-3" nz-image width="60%" height="auto" nzSrc="../../../assets/news/scrambled-egg-l.jpg" alt="" />
    </div>
    <!-- <hr style="width:100%;text-align:left;margin-left:0"> -->
  </section>
</nz-layout>
