<!DOCTYPE html>
<html>

<head>
  <title>Mobile First Responsive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>

<body>

  <figure class="center">
    <img nz-image width="60%" height="auto" nzSrc="../../../assets/about/about.jpg" alt="" />
    <figcaption class="font-weight-bold">Born in 1983 | Tehran | Iran </figcaption>
  </figure>

  <section class="container">
    <p>
      Twelve years ago, having had cultural and social issues occupying my mind all my life, I found “painting” to be a
      means to display them, and translating them into ” pop art” was my way of expressing those issues. My first
      collection was about “individuality”, “women”, and “cultural problems in society”. It was only later that I got to
      know Rumi and his works. He (Rumi), shows his mastery in using everyday events to present and show his spiritual
      beliefs. Some have gone as far as calling his “Masnavi” a “holy book”, but I see this poetry book as the ultimate
      answer to solving social and cultural problems. Having always been interested in self-analysis, Rumi’s poetry
      opened
      a window for me, through which, I could incorporate these thoughts into my paintings. Up until now, at the mention
      of the meanings behind Rumi’s poetry with regards to painting, one was faced with the literal but yet vague
      concept,
      which only portrayed the emotions of the artist. While this approach and style is fully respected, it lacks the
      ability to fully engage and connect with the artist in order to enable him to envision the true meaning of the
      poetry and hence the resulting art work fails to have any impact or to leave any impression on society or culture.
      It is indeed a difficult task to portray the true meaning of these verses in the form of art and in a simple and
      comprehensive format for the audience, and can only be achieved through “pop art” or “surrealism” . As I mentioned
      before, Rumi’s poetry dwells on “self-understanding” and ” joyful living” and I, therefore, decided to incorporate
      them into my paintings.
    </p>
  </section>

  <section class="container">
    <p>
      For one of my first series on Rumi, the combination of the meaning in Rumi’s verses and the images of the society
      take form in 12 oil color paintings on canvas. “Carpet” which is the symbol for “life” is the common motif in all
      the paintings. Carpet in Iranian culture presents the feelings and the emotions of the weaver, as well as his
      taste and artistry. Various motifs and symbols have been used in this collection, where each represent Rumi’s
      insight and views on self-understanding. In most portraits, the presence of a famous Western woman who’s the
      infiltration of the western culture into the eastern society. The surreal spaces seen in these works, in my
      opinion, provides more room to the spectator, for bigger imagination, enabling him/her to exhibit Rumi’s
      imaginative and yet spiritual dimensions used in his poetry. Rumi also goes beyond the material world and treads
      into an obscure and vague, yet a truthful world, where he takes the mind and the soul with him.
    </p>
  </section>


  <section class="container">
    <p>
      After two years of living and studying in Belgium, I have reached another way of expression in my paintings. In my
      point of view, listening to the poems is best for making an artwork. This is the sweet spot for coming the ideas.
      Music is the optimal level for creating, whereas extreme quiet sharpens our focus, making it hard for us to think
      differently. Most of the inspiration form the poems have come when I was listening to a poem or was a result of
      reading poems have been read before or comes from the meditation before starting the painting. I’m not aware about
      what is coming to my hands to paint. I just let my hands through the feelings to make the whole shape. When I
      create
      an artwork, there is a deep satisfaction in manifesting that creation. In becoming the creator through a clear
      intention and surrender to an experience of my own creation I am fulfilling my inherent nature. I am being who I
      am. I
      am being true to myself. Exercising my power as a creator being. That truth provides the profound calmness of
      being.
      The calmness arises whenever my energy is free to dissipate in the experience I desire to have.
    </p>
  </section>

  <section class="container">
    <h6 class="font-weight-bold">
      EDUCATION
    </h6>
    <p>2006, BA, Graphic Design, Art & architecture university, Tehran, Iran</p>
    <p>2017, Master Painting , KASK school of arts, Gent, Belgium</p>
  </section>

  <section class="container">
    <h6 class="font-weight-bold">SOLO EXHIBITION</h6>
    <p>2019 Tangible thoughts,Santo,Gent, Belgium
    </p>
    <p> 2017 suspended definitions, Pedrami gallery, Antwerp, Belgium
    </p>
    <p> 2016 Where is my Ney?, Etemad gallery, Tehran, Iran
    </p>
    <p> 2013 Aesthetics of a zebra, The invisible Line gallery, London, Ingland
    </p>
    <p> 2011 Share me, Mohsen gallery, Tehran, Iran
    </p>
    <p>2007 Utopia, Seyhoun gallery, Tehran, Iran</p>
  </section>

  <section class="container">
    <h6 class="font-weight-bold">GROUP EXHIBITION

    </h6>
    <P> 2020, The clown spirit, Ronny van de velde gallery , Antwerp, Belgium
    </P>
    <P>2019 contemporary art museum of ”MACVAC”, Valencia, Spain
    </P>
    <P>2019, Kunst In Huis project, Antwerp, Belgium
    </P>
    <P>2018, komask, Antwerp acamemy of art, Antwerp, Belgium
    </P>
    <P></P>
    <P>2015, Performance, Boom gallery, Tehran, Iran
    </P>
    <P>2015, Happy new year, Kargah E Honar studio, Tehran, Iran
    </P>

    <P>2015, The world viewed, Igreg art studio, Tehran, Iran
    </P>
    <P>2014, Primio Combat, Museo di Storia Naturale – Museo Civico G.Fattori, Livorno, Italy
    </P>
    <P>2014, Self portraits, Igreg art studio, Tehran, Iran
    </P>
    <P>2013, Unexposed, Artcantara gallery, Athen,Warsaw,Brussels, Greece,Poland,Belgium
    </P>
    <P>2013, Colours and voices, The International Museum of Women Muslima,online
    </P>
    <P>2012, Fogoorie, Shirin gallery, Tehran, Iran
    </P>
    <P>2012, Iranian Artists, Agoman institude, Lyon, France
    </P>
    <P>2012, Iranian artists(digital art), state capital, California, Us
    </P>
    <P>2011, +me, Elahe gallery, Tehran, Iran
    </P>
    <P>2010, Window, Mohsen gallery, Tehran, Iran
    </P>
    <P>2010, Kitchen, Mohsen gallery, Tehran, Iran
    </P>
    <P>2007, Iranian Artists, Mani gallery, Koln, Germany
    </P>
  </section>

  <section class="container pb-5">
    <h6 class="font-weight-bold">SCHOLARSHIPS, GRANTS AND AWARDS
    </h6>
    <P> Master of painting at Kask school of arts , Gent, Belgium
    </P>
    <P> Finalist of Primio Combat prize, Livorno, Italy
    </P>
    <P> One of the authors of artistic book “Kunst? Kunst!”
    </P>
    <P> Candidate for KOMASK prize October 2018
    </P>
  </section>
</body>

</html>
