<nz-layout>
  <div>
    <img nz-image width="50%" height="auto" nzSrc="../../../assets/home page/home page.jpeg" alt="" />
  </div>
  <section class="container text-center mb-5">
    <h3 class="text-danger mt-3"> CIRCUS ON THE CANAL
    </h3>
    <p class="text-secondary font-weight-bold">28.10 - 28.11.2021</p>
    <p>UNIVERSITY OF ANTWEP, BELGIUM</p>
    <p>KLOOSTER VAN DE GRAUWZUSTERS</p>
    <p>LANG SINT-ANNASTRAAT, 2000 ANTWERP </p>
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'Read more'">
        <p style="margin:0;">
          <p class="text-align">
            The series “Circus on the canal” is a socio-political project by Homa Arkani based in Gent, Belgium. She has
            been working on this project from 2019.
            There would be a reception on opening of the exhibition at Klooster van de grauwzusters on October 28. If
            you want to participate in the reception, please contact Homa Arkani from contact forum of this website.
          </p>
      </nz-collapse-panel>
    </nz-collapse>

    <!-- <button  id="myBtn">Read more</button> -->
  </section>




</nz-layout>
