[nz-carousel-content] {
  margin-top: 3em;
  width: auto;
  text-align: center;
  height: 40px;
  width: 70%;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;

}



img{
  margin: auto;
}
